@model IEnumerable<PictureAnalyzer.Models.Gallery>

@{
    ViewBag.Title = "Index";
}

<br /><br />
<div class="col-md-11 col-md-offset-1" style="font-size:larger;">

</div>
<h1 class="text-center">Take a look at our galleries...</h1>
<h3 class="text-center">Or</h3>
<h1 class="text-center"><i class="glyphicon glyphicon-plus"></i> @Html.ActionLink("Create new gallery", "Create")</h1><br /><br />
<div class="container">
    <div class="row">
        <div class='list-group gallery'>


            @foreach (var item in Model)
            {

                <div class='col-md-3'>
                    <div class="text-center">
                        <h4><i>@Html.DisplayFor(modelItem => item.Name)</i></h4>
                    </div>
                    <a class="thumbnail" rel="ligthbox" href="~/Content/img/1.jpg">
                        <img class="img-responsive" alt="" src="~/Content/img/1.jpg" />
                    </a>
                    <div class="dropdown text-center">
                        <a href="#" class="dropdown-toggle white" data-toggle="dropdown" role="button" aria-expanded="false">Options <span class="caret"></span></a>
                        <ul class="dropdown-menu text-center" role="menu">
                            <li>@Html.ActionLink("Add painting", "Create", "Galleries")</li>
                            <li>@Html.ActionLink("Edit", "Edit", new { id = item.ID })</li>
                            <li>@Html.ActionLink("Details", "Details", new { id = item.ID })</li>
                            <li>@Html.ActionLink("Delete", "Delete", new { id = item.ID })</li>
                        </ul>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<style>
    .white, .white:hover {
        color: white;
    }
    body {
        background: linear-gradient(black, #009871,black);
    }
    .dropdown {
        margin: 8px;
    }
    .dropdown-menu {
        float: right;
        padding: 0px;
    }
    .img-responsive {
        margin: 3px; 
    }
        .img-responsive:hover {
            opacity: 1;
        }
    .col-md-3 {
        border:2px solid black;
        margin: 37px;
    }
        .col-md-3:hover {
            border: 2px solid #0ce3ac;
            margin: 37px;
            box-shadow: 10px 10px 5px black;
        }
    .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
        background-color: #009871;
    }
    .text-muted {
        color: white;
    }

    .color {
        color: #009871;
        margin-top: 45px;
    }
    .thumbnail {
        margin-bottom:2px;
        border: 0px;
    }
    .glyphicon {
        font-size: 0.7em;
        color: #0ce3ac;
    }
</style>
