@model PagedList.IPagedList<PictureAnalyzer.Models.Painter>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Painters";
}

<br /><br />

<div class="col-md-11 col-md-offset-1" style="font-size:larger;">

</div>
<h1 class="text-center"><i class="glyphicon glyphicon-plus"></i> @Html.ActionLink("Add new painter", "Create")</h1><br /><br />

<div class="container">

    @using (Html.BeginForm("Index", "Painters", FormMethod.Get))
    {
        <div class="row">

            <div class="col-md-3 col-md-offset-1 dropdown text-center">
                <a href="#" class="dropdown-toggle white" data-toggle="dropdown" role="button" aria-expanded="false">Filter by <span class="caret"></span></a>
                <ul class="dropdown-menu text-center" role="menu">
                    <li>@Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })</li>
                    <li>@Html.ActionLink("Country", "Index", new { sortOrder = ViewBag.CountrySortParm, currentFilter = ViewBag.CurrentFilter })</li>
                    <li>@Html.ActionLink("Date", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })</li>
                </ul>
            </div>


            <div class="col-md-5">
                <div id="custom-search-input">
                    <div class="input-group col-md-12">
                        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new
                       {
                           htmlAttributes = new
                           {
                               @class = "form-control",
                               placeholder = "Search for painters..."
                           }
                       })
                        <span class="input-group-btn">
                            <button class="btn btn-info btn-sm" type="submit">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    }
    <br />
    <div class="row">
        <div class='list-group gallery'>


            @foreach (var item in Model)
            {

                <div class='col-md-3 col-md-3-personalized'>
                    <div class="text-center">
                        <h4><i>@Html.DisplayFor(modelItem => item.Name)</i></h4>
                    </div>
                    <a class="thumbnail" rel="ligthbox" href=@Html.DisplayFor(modelItem => item.Link) data-toggle="tooltip" data-placement="top" title="@Html.DisplayFor(modelItem => item.Description)">
                        <img class="img-responsive" alt="" src=@Html.DisplayFor(modelItem => item.Link) />
                    </a>
                    <div class="text-center">
                        @String.Format("{0,9:d}", item.BirthDate) - @String.Format("{0,9:d}", item.PassDate)
                    </div>
                    <div class="text-center">
                        @Html.DisplayFor(modelItem => item.Country)
                    </div>
                    <div class="text-center">
                        <br />
                        @Html.ActionLink("View paintings", "Details", new { id = item.ID })
                    </div><br />
                </div>
            }
        </div>
    </div>
</div>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }),
    new PagedListRenderOptions
    {
        DisplayLinkToFirstPage = PagedListDisplayMode.Always,
        DisplayLinkToLastPage = PagedListDisplayMode.Always,
        DisplayLinkToPreviousPage = PagedListDisplayMode.Never,
        DisplayLinkToNextPage = PagedListDisplayMode.Never,
        DisplayPageCountAndCurrentLocation = false,
        DisplayEllipsesWhenNotShowingAllPageNumbers = false,
        MaximumPageNumbersToDisplay = 5
    })

<style>
    a {
        color: white;
    }
    .row {
        margin-top: 50px;
    }
    .pagination-container {
        text-align: center;
    }
    body {
        background: linear-gradient(black, #009871,black);
    }

    .dropdown {
        margin: 15px;
    }

    .dropdown-menu {
        float: right;
        padding: 0px;
    }

    .img-responsive {
        margin: 3px;
    }

        .img-responsive:hover {
            opacity: 1;
        }

    .col-md-3-personalized {
        border: 2px solid black;
        margin: 37px;
    }

        .col-md-3-personalized:hover {
            border: 2px solid #0ce3ac;
            margin: 37px;
            box-shadow: 10px 10px 5px black;
        }

    .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
        background-color: #009871;
    }

    .text-muted {
        color: white;
    }

    .color {
        color: #009871;
        margin-top: 45px;
    }

    .thumbnail {
        margin-bottom: 2px;
        border: 0px;
    }

    .glyphicon {
        font-size: 0.7em;
        color: #0ce3ac;
    }

    #custom-search-input {
        padding: 3px;
        border-radius: 6px;
        background-color: #fff;
    }

        #custom-search-input input {
            border: 0;
            box-shadow: none;
        }

        #custom-search-input > div > input {
            max-width: 400px;
            width: 300px;
            margin-top: 6px;
            font-size: 18px;
            border: 3px solid white;
        }

    .btn-info {
        color: #ffffff;
        background-color: #00bc8c;
        border-color: #00bc8c;
    }

        .btn-info:hover, .btn-info:active, .btn-info:focus, .btn-info:active:focus {
            color: #ffffff;
            background-color: #7C77B9;
            border-color: #7C77B9;
        }

    #custom-search-input button:hover {
        border: 0;
        box-shadow: none;
        border-left: solid 1px #ccc;
    }

    #custom-search-input .glyphicon-search {
        font-size: 23px;
        height: 15px;
        color: white;
    }
    .white {
        color: white;
    }
</style>