@model PictureAnalyzer.Models.Painting

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Painting</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Gallery.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gallery.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Influence.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Influence.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Painter.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Painter.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Profile.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Profile.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentOwner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentOwner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HarmonyIndex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HarmonyIndex)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConstrastIndex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConstrastIndex)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LuminosityIndex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LuminosityIndex)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Link)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Link)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
