@model PictureAnalyzer.Models.Painting

<br />
<br />

<div class="panel panel-success">
    <div class="panel-heading">
        <h1 class="panel-title"><b>@Html.DisplayFor(model => model.Name)</b></h1>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2 col-md-offset-1">
                <a class="thumbnail" rel="ligthbox" href=@Html.DisplayFor(model => model.Link) data-toggle="tooltip" data-placement="top">
                    <img class="img-responsive" alt="" src=@Html.DisplayFor(model => model.Link) />
                </a>
            </div>
            <div class="col-md-8">
                <dl class="dl-horizontal">

                    <dt>
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Description)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.CurrentOwner)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CurrentOwner)
                    </dd>

                    <dt>
                        Painter
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Painter.Name)
                    </dd>

                    <dt>
                        Influence
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Influence.Name)
                    </dd>

                    <dt>
                        Gallery
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Gallery.Name)
                    </dd>

                    <dt>
                        Type A personality
                    </dt>

                    @if (Convert.ToInt32(@Html.DisplayFor(model => model.TypeAPercentage)) < 20)
                    {
                        <dd class="red font-size">@Html.DisplayFor(model => model.TypeAPercentage) % </dd>
                    }
                    @if (Convert.ToInt32(@Html.DisplayFor(model => model.TypeAPercentage)) < 30
                        && Convert.ToInt32(@Html.DisplayFor(model => model.TypeAPercentage)) > 20)
                    {
                        <dd class="yellow font-size">@Html.DisplayFor(model => model.TypeAPercentage) % </dd>
                    }
                    @if (Convert.ToInt32(@Html.DisplayFor(model => model.TypeAPercentage)) > 30)
                    {
                        <dd class="green font-size">@Html.DisplayFor(model => model.TypeAPercentage) % </dd>
                    }

                    <dt>
                        Type B personality
                    </dt>

                    @if (Convert.ToInt32(@Html.DisplayFor(model => model.TypeBPercentage)) < 20)
                    {
                        <dd class="red font-size">@Html.DisplayFor(model => model.TypeBPercentage) % </dd>
                    }
                    @if (Convert.ToInt32(@Html.DisplayFor(model => model.TypeBPercentage)) < 30
                        && Convert.ToInt32(@Html.DisplayFor(model => model.TypeBPercentage)) > 20)
                    {
                        <dd class="yellow font-size">@Html.DisplayFor(model => model.TypeBPercentage) % </dd>
                    }
                    @if (Convert.ToInt32(@Html.DisplayFor(model => model.TypeBPercentage)) > 30)
                    {
                        <dd class="green font-size">@Html.DisplayFor(model => model.TypeBPercentage) % </dd>
                    }

                    <dt>
                        Type C personality
                    </dt>

                    @if (Convert.ToInt32(@Html.DisplayFor(model => model.TypeCPercentage)) < 20)
                    {
                        <dd class="red font-size">@Html.DisplayFor(model => model.TypeCPercentage) % </dd>
                    }
                    @if (Convert.ToInt32(@Html.DisplayFor(model => model.TypeCPercentage)) < 30
                        && Convert.ToInt32(@Html.DisplayFor(model => model.TypeCPercentage)) > 20)
                    {
                        <dd class="yellow font-size">@Html.DisplayFor(model => model.TypeCPercentage) % </dd>
                    }
                    @if (Convert.ToInt32(@Html.DisplayFor(model => model.TypeCPercentage)) > 30)
                    {
                        <dd class="green font-size">@Html.DisplayFor(model => model.TypeCPercentage) % </dd>
                    }

                    <dt>
                        Type D personality
                    </dt>

                    @if (Convert.ToInt32(@Html.DisplayFor(model => model.TypeDPercentage)) < 20)
                    {
                        <dd class="red font-size">@Html.DisplayFor(model => model.TypeDPercentage) % </dd>
                    }
                    @if (Convert.ToInt32(@Html.DisplayFor(model => model.TypeDPercentage)) < 30
                        && Convert.ToInt32(@Html.DisplayFor(model => model.TypeDPercentage)) > 20)
                    {
                        <dd class="yellow font-size">@Html.DisplayFor(model => model.TypeDPercentage) % </dd>
                    }
                    @if (Convert.ToInt32(@Html.DisplayFor(model => model.TypeDPercentage)) > 30)
                    {
                        <dd class="green font-size">@Html.DisplayFor(model => model.TypeDPercentage) % </dd>
                    }

                </dl>
            </div>
        </div>
    </div>
</div>


<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<style>
    .panel-title {
        font-size: 25px;
    }

    .font-size {
        font-size: 12px;
    }

    .red {
        color: darkred;
    }

    .yellow {
        color: yellow;
    }

    .green {
        color: forestgreen;
    }
</style>
